<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Warpost: Register</title>
</head>
<body>

    <form method="post" action="">
        <label>Sibko: <input type="text" name="sibko" value="" maxlength="50"></label>
        <label>Password: <input type="password" name="password" value=""></label>
        <label>Confirm password: <input type="password" name="confirmPassword" value=""></label>
        <label>Email: <input type="text" name="email" value="" maxlength="255"></label>
        <label>First name; <input type="text" name="firstName" value="" maxlength="50"></label>
        <label>Last name: <input type="text" name="lastName" value="" maxlength="50"></label>
        <input type="submit" value="Register">
    </form>

</body>
</html>